// Specific CSS for your home-page
.banner {
  border-radius: 3px;
  height: 700px;
  width: 100%;
  margin-top: 1px;
}

.body {
  background-color: white;
}

.cards-list-home {
  column-gap: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5%;
  margin-right: 5%;
  row-gap: 30px;
}
.card-home{
  border-radius: 10px;
  cursor: pointer;
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid black;
  height: 25vh;
}
.card-home:hover{
  box-shadow: 5px;
  transform: scale(1.1);
}
.card {
  border-radius: 10px;
  cursor: pointer;
  padding: 15px;
  height: 550px;
}
.card-image-home {
  text-align: center;
}

.card-image-home img {
  width: 70%;
  border-radius: 5px;
}

.heading-text-home {
  text-align: center;
}

.card-home .card_title {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.icon-box-icon-fa-container-home {
  margin-bottom: 20px;
}




.cards-list-index {
  grid-template-columns: 1fr 1fr;
  display: grid;
  padding: 10;
}
.cards-list {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#maps {
  position: sticky;
  width: 50px;
}

.row-map {
  width: 100%;
  display: flex;
  margin: 0;
  gap: 20px;
  justify-content: space-between;
}


.sample {
  float: left;
  height: 50px;
  margin: 150px 35%;
  position: relative;
  width: 34%;
  &.one {
    input {
      border-radius: 15px;
      right: 0;
      transition: all .3s ease-in-out;
      width: 50%;
      &:focus {
        width: 100%;
        ~ button {
          &.btn-search {
            background: rgb(255, 255, 255);
            color: rgba(61, 60, 60, 0.465);
          }
        }
      }
    }
  }
}

.footer {
  background: #545252;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(241, 230, 230);
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
