
<div class="container mt-5">
  <h1>Edit booking</h1>

  <%= render "form", booking: @booking %>

  <hr>
  <%= link_to booking_path do %>
    <i class="fa-solid fa-arrow-rotate-left"></i> Back to booking
  <% end %>
</div>



<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
