<div class="container">
  <div class="row">
    <div class="banner">
      <div>
          <div class="sample one">
            <input type="text" name="search" placeholder="Search">
            <button type="submit" class="btn btn-search fa fa-search"></button>
          </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <div class="col-sm-3">

      <div class="cards-list">
        <div class="row">
          <div class="card 1" class="col-3">
            <div class="card_image"> <img src="https://cdn-icons-png.flaticon.com/512/1254/1254957.png" /> </div>
            <div class="card_title title-black">
              <p>Cat</p>
          </div>

          <div class="card 2" class="col-3">
            <div class="card_image"> <img src="https://cdn-icons-png.flaticon.com/512/1254/1254989.png?w=740&t=st=1669119772~exp=1669120372~hmac=625413eb5ed83d77a6366f303c97c53863cff1f6401afe8e4b2fff5e0c97cb1b" /> </div>
            <div class="card_title title-black">
              <p>Zebra</p>
          </div>

          <div class="card 3" class="col-3">
            <div class="card_image"> <img src="https://cdn-icons-png.flaticon.com/512/1254/1254954.png?w=740&t=st=1669119767~exp=1669120367~hmac=d31f651f3ff32e2bd7c5d8d10d68a692074404942b0853bb24a3f7db8e619874" /> </div>
            <div class="card_title title-black">
              <p>Bear</p>
          </div>
        </div>

        <div class="row">
          <div class="card 4" class="col-3">
            <div class="card_image"> <img src="https://cdn-icons-png.flaticon.com/512/1254/1254970.png?w=740&t=st=1669119764~exp=1669120364~hmac=b9a6a88f63ec68ac7f623b9651f91fcb40157bb4e2e0c073628fdc6b85292dde" /> </div>
            <div class="card_title title-black">
              <p>Horse</p>
          </div>


          <div class="card 5" class="col-3">
            <div class="card_image"> <img src="https://cdn-icons-png.flaticon.com/512/1254/1254985.png?w=740&t=st=1669119762~exp=1669120362~hmac=7bc9d199324315058cf87844750e654c532f11c58d8b7cff97c18398fcb778f0" /> </div>
            <div class="card_title title-black">
              <p>Octopus</p>
          </div>


          <div class="card 6" class="col-3">
            <div class="card_image"> <img src="https://img.freepik.com/free-icon/tiger_318-936344.jpg?t=st=1669119772~exp=1669120372~hmac=e9f9f60364244faa843b68789e80313db9d138533610ccb93018fd19e4f2d69b" /> </div>
            <div class="card_title title-black">
              <p>Tiger</p>
          </div>
        </div>

        <div class="row">
          <div class="card 7" class="col-3">
            <div class="card_image"> <img src="https://img.freepik.com/free-icon/lion_318-936331.jpg?t=st=1669119875~exp=1669120475~hmac=1b2209a6c216dd64445e156c576137528bcc4cc1f7a3f1fec4557d5a26578306" /> </div>
            <div class="card_title title-black">
              <p>Lion</p>
          </div>

          <div class="card 8" class="col-3">
            <div class="card_image"> <img src="https://cdn-icons-png.flaticon.com/512/1254/1254972.png?w=740&t=st=1669119774~exp=1669120374~hmac=6b61c946b1a12ce114e7253380885c7d4318e1fdf60a396cfb17aa1783026798" /> </div>
            <div class="card_title title-black">
              <p>Koala</p>
          </div>

          <div class="card 9" class="col-3">
            <div class="card_image"> <img src="https://cdn-icons-png.flaticon.com/512/1254/1254962.png?w=740&t=st=1669120390~exp=1669120990~hmac=70d27eef1abb31671976ea47951864a01d8e3399814d407d2ff22a703b219f6c" /> </div>
            <div class="card_title title-black">
              <p>Dog</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
