<div class="container d-flex">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1500">
        <%= image_tag "orque.jpg" %>
      </div>
      <div class="carousel-item" data-bs-interval="1500">
        <%= image_tag "espadon.jpg" %>
      </div>
      <div class="carousel-item" data-bs-interval="1500">
        <%= image_tag "piranha.jpg" %>
      </div>
    </div>
  </div>
  <div class="animal-info">
    <h1 class="card-title"> Predator</h1>
    <p class="card-text"> These beautiful specimens are waiting for you to be adopted. Watch your hands</p>
    <p class="card-book"><small class="text-muted"> 3 in stock</small></p>
    <p class="card-animal"><span class="price-amount amount" > 5000 $ /piece
    <a class="btn btn-gradient" href="#">Add to cart</a>
  </div>
</div>
