
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "orque.jpg" %>
    </div>
    <div class="carousel-item">
       <%= image_tag "espadon.jpg" %>
    </div>
    <div class="carousel-item">
       <%= image_tag "piranha.jpg" %>
    </div>
  </div>
</div>

<div class="row-inner">
   <div class="col-lg-6">
<div class="card-group" style="max-width: 25rem;">
  <div class="card">
    <%= image_tag "espadon.jpg" %>
    <div class="card-body">
      <h5 class="card-title">Espadon</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
