<div class="container d-flex">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1500">
        <%= image_tag "orque.jpg" %>
      </div>
      <div class="carousel-item" data-bs-interval="1500">
        <%= image_tag "espadon.jpg" %>
      </div>
      <div class="carousel-item" data-bs-interval="1500">
        <%= image_tag "piranha.jpg" %>
      </div>
    </div>
  </div>
  <div>
    <h5 class="card-title"> Prédateur</h5>
    <p class="card-text"> Ces beaux spécimens n'attendent que vous pour être adopter.</p>
    <p class="card-text"><small class="text-muted"> 3 en stock</small></p>
    <a class="btn btn-gradient" href="#">Ajouter au panier</a>
  </div>
</div>
