

.card {
  color: #C25100;
  font-family: 'Lobster';
}


.card {background: rgba(0, 0, 0, 0.8);
// z-index: 1;
position: absolute;
text-align: center;
font-family: Georgia;
margin: 0 auto;
top: 120%;
color: white;
width: 40%;
}
