.banner {
  background-image:
  url(https://images.photowall.com/products/48086/jungle-lake-with-wild-animals-1.jpg?h=699&q=85);
  background-position: right center;
  background-attachment: fixed;
  border-radius: 3px;
  height: 450px;
  margin-top: 1px;
  text-align: center;
}

:root {
  --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}

body {
  background: #111 !important;
}

<<<<<<< HEAD

=======
.cards-list {
  border-radius: 2px;
  column-gap: 40px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
  margin-bottom: 30px;
  row-gap: 40px;
}
>>>>>>> 5fd6f4518a9dbc8074b7312e0421a98dd09e4ce2

.card-image img {
  width: 2000px;
  height: 100px;
  border-radius: 3px;
}
